h1 {
  text-align: center;
  color: pink;
}
body {
  background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  margin-top: 150px;
}

.container {
  color: #000000;
  padding: 15px;
  background-color: pink;
}

 a {
  margin: 50px;
  color: #0F2027;
}

a:hover {
  color: #ee9ca7;
}
