<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Hair Salon</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <h1>Welcome!</h1>
    <h1>Epicodus Hair Salon</h1>
    <h4>You can add a new stylist, sort by stylists and add new clients</h4>
  <center>
  <a href="/stylists">View Stylists</a>
  <a href="/stylists/new">Add New Stylist</a>
  </center>
  </div>
</body>
</html>
