<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Salon</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
      <h1>Salon</h1>
      <h2>You can edit the stylist @Model["stylist"].GetName() here:</h2>
    <form action="/stylists/@Model["stylist"].GetId()" method="post">
      <label for="newName">Name:</label>
      <input type="text" name="newName" value="@Model["stylist"].GetName()">
      <button type="submit">Edit</button>
    </form>
    <a href="/stylists/@Model["stylist"].GetId()">Return to previous page</a>
  </div>
</body>
</html>
